<div class="row-fluid">
    <div class="span8">

        <div id="content-left">

            <div class="page-header">
                <span class="pull-right">
                    <a class="btn" href="configSeriesListView.html#serieNoua"><i class="icon-plus"/> Serie Noua</a>
                </span>

                <h3>Serii documente</h3>
            </div>

            <div id="listView">

                <%
                if (this.model.models.length == 0)
                {%>
                   Nu aveti nici o serie definita!
                <%}
                else
                {%>

                <table class="table">
                    <thead>
                    <tr>
                        <!--<td>Document</td>-->
                        <td>Prefix</td>
                        <td>Sufix</td>
                        <td>Contor</td>
                        <td>Exemplu</td>
                    </tr>
                    </thead>
                    <% _.each(this.model.models, function(i) { %>
                        <tr class="rowClick" data-id="<%=i.get('id')%>">
                            <!--<td><%= i.get('docType') %></td>-->
                            <td><%= i.get('prefix') %></td>
                            <td><%= i.get('suffix') %></td>
                            <td><%= i.get('currentNumber') %></td>
                            <td><%= i.getSample() %></td>
                        </tr>
                    <% }); %>
                </table>

                </ul>

                <%}%>

            </div>
        </div>
    </div>
</div>

<div class="span4">

</div>